# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Secrets & config
.env
.env.local
.env.*.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Database (если есть локальные файлы SQLite — убери, если используешь только PostgreSQL)
*.db
*.sqlite

# Проект
*.egg-info/
dist/
build/